<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/style.css}" rel="stylesheet">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="contents">
    <h1>회원 목록</h1>

    <table border="1">
        <tr>
            <th>아이디</th>
            <th>비밀번호</th>
            <th>이름</th>
            <th>전화번호</th>
        </tr>

        <tr th:each="member : ${members}">
            <td th:text="${member.id}">ID</td>
            <td th:text="${member.name}">이름</td>
            <td th:text="${member.phone}">전화번호</td>
            <td th:text="${member.pw}">비밀번호</td>
        </tr>

        <a th:href="@{/index}">메인페이지로</a>

    </table>

    </div>
</div>
</body>
</html>