<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>board</title>
</head>
<body>
    <form action="/board/write" method="post" name="board">
        <a th:href="@{/board/write}">게시글 작성</a>


        <a th:href="@{/index}">홈으로</a>
    <p>제목</p>
        <table>
            <tr th:each="board : ${boards}">
                <td th:text="${board.title}"></td>
                <td th:text="${board.content}">내용</td>
            </tr>
        </table>
    </form>
</body>
</html>