/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    height: 100vh;
}

.contents > p {
    text-align: center;
    align-items: center;
    display: grid;
}


