<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <link th:href="@{/style.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div class="container">
    <div class="contents">
        <h1>index page</h1>
        <a th:if="${id == null}" th:href="@{/join}">회원가입</a>
        <a th:if="${id == null}" th:href="@{/login}">로그인</a>

        <a th:href="@{/admin/memberlist}">회원 목록</a>
        <a th:if="${id != null}" th:href="@{/mypage}">내정보</a>
        <!-- 로그인 된 경우 로그아웃 폼 -->


        <a th:if="${id !=null}" th:href="@{/board}">게시글</a>
        <a th:if="${id != null}" th:text="'안녕하세요, ' + ${id} + '님'"></a>

        <form th:if="${id != null}" action="/logout" method="post">
            <button type="submit">로그아웃</button>
        </form>
    </div>
</div>
</body>
</html>
