<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/style.css}" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>

    <div class="container">
        <div class="contents">

            <h1>Join page</h1><!-- 여기에서 join 값 출력 -->
<form action="/members/join" method="post" name="join">

    <p>이름<input type="text" name="name" placeholder="이름"/></p>
    <p>전화번호<input type="text" name="phone"/></p>
    <p>아이디<input type="text" name="id"/></p>
    <p>비밀번호<input type="text" name="pw"/></p>
    <p th:if="${error}" th:text="${error}" style="color:red;"></p>

    <input type="submit" value="회원가입"/>
    <a th:href="@{/index}">home</a>
    </form>
        </div>
    </div>
</body>
</html>
