<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<link th:href="@{/style.css}" rel="stylesheet">
<body>
<form action="/mypage" method="post">
    <div class="container">

        <h1>마이페이지</h1>
        <div>
            <p th:text="'아이디: ' + ${member.id}"></p>
            <p th:text="'이름: ' + ${member.name}"></p>
        </div>

    <div>
    <h2>작성한글</h2>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="board : ${boards}">
            <td th:text="${board.id}"></td>
            <td th:text="${board.title}"></td>
<!--            <td th:text="${board.content}"></td>-->
            <td>
                <a th:href="@{'/board/edit/' + ${board.id}}">수정</a>

                <form th:action="@{'/board/delete/' + ${board.id}}" method="post">
                    <input type="submit" value="글 삭제"
                           onclick="return confirm('정말 삭제하시겠습니까?');"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
        <a th:href="@{/index}">홈으로</a>
    </div>
    </div>
    </form>
</body>
</html>
